// Imports
@import "../base/fonts";
@import "../base/colors";

.ourServices {
	clip-path: none;

	p {
		a {
			@apply font-semibold underline text-primary-two hover:text-primary-two transition-all ease-in-out duration-500;
		}
	}

	.card:hover {
		// transform: scale(1.02);

		.content {
			height: 100%;
			background: none;
		}
	}

	@media (min-width: 1024px) {
		clip-path: ellipse(100% 55% at 48% 44%);
	}
}
