// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #171f22;
$primary-two: #414046;
$primary-three: #262729;

$accent-default: #d9ba7e;
$accent-two: #caa969;
$accent-three: #c7a469;
$accent-four: #bfa260;
$accent-light: #d8bf7c;
$accent-dark: #91744c;

$tertiary-default: #f6ad37;
$tertiary-two: #e8b042;
$tertiary-dark: #d29300;
